@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h4>WHAT IS Emlak.COM?</h4>
        <p>
            We find that we're being asked this question less and less as time goes on, and we attribute that to the fact that Zameen.com has become a household name. Nevertheless, if by some strange and unfortunate twist of fate you are still unaware of what Emlak.com is, let us enlighten you.
            Emlak.com is Pakistan's leading real estate portal. We connect buyers with sellers and owners with renters across the country, and we do a darn fine job of it, if we may say so ourselves. We are quickly becoming a central online hub for all things real estate in the country, one that everyone can use with ease and get value out of-be it a university student renting a room or a property investor looking for a new project to buy into.
            Behind Emlak.com is a team of dedicated and talented individuals (which is our fancy way of saying a bunch of highly skilled tech nerds, design pros and geeky wordsmiths) with decades worth of experience in creating easy-to-use platforms for all manner of online transactions.
            We bring to our users only the most innovative and useful of features - as evidenced by our extensive and still-growing Maps Section and the Urdu version of our website - and we love working off of our users' feedback to ensure the perfect product.
        </p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h4>WHAT WE AREN'T</h4>
        <p>
            Emlak.com is not a brokerage firm or a massive real estate agency. We don't charge anyone
            any sort of commission on real estate transactions and we most certainly do not sell our
            users' information to third parties. We exist solely to facilitate the beautiful business
            of real estate, and all of our revenue comes from advertising.
        </p>
    </div>
</div>