@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .input-group{
        margin-bottom:15px;
    }
   
</style>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Log in</h4>
            </div>
            <div class="panel-body">
                <form class="form" action="#">
                    <div class="input-group col-md-offset-3 col-md-6">
                        <label for="contactName">Name:</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter Your Name...." />
                    </div><br /><br />
                    <div class="input-group col-md-offset-3 col-md-6">
                        <label for="contactName">Email:</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter Your Email...." />
                    </div>
                    <div class="input-group col-md-offset-3 col-md-6">
                        <label for="contactName">Phone:</label>
                        <input type="text" class="form-control" name="phone" placeholder="Enter Your Phone..." />
                    </div><br />
                    <div class="input-group col-md-offset-3 col-md-6">
                        <label for="contactName">Subject:</label>
                        <input type="email" class="form-control" name="subject" placeholder="Enter Your Subject.." />
                    </div><br />
                    <div class="input-group col-md-offset-3 col-md-6">
                        <label for="contactName">Message:</label>
                        <textarea class="form-control" name="message" rows="5"></textarea>
                    </div><br />
                    <div class="input-group col-md-offset-3 col-md-6">
                        <input type="button" class="btn btn-primary" name="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        
            <div class="container">
                <div class="jumbotron">
                    <address><b>Address:</b>
                        Punjab University College of Information Technology<br />
                        <br />
                        <abbr title="Phone"><b>Ph:</b></abbr>
                        03234774372
                    </address>
                    <address>
                        <strong>Support:</strong>   <a href="https://mail.google.com">bsef14a009@pucit.edu.pk</a><br />
                    </address>
                </div>
            </div>
            
        </div>
        
   

