
@{
    ViewBag.Title = "TermOfUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-2">
    <h2>Term Of Use</h2>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <p>
            Welcome to Emlak, operated by Emlak, Inc. Emlak, Inc. (collectively, with its wholly
            owned subsidiary, Emlak Group Mortgages, Inc., a Washington corporation) is part of Emlak
            Group, Inc. (with all of its subsidiaries, "Emlak Group"). By using Emlak Group's Web sites
            (defined to include all properties (mobile, Web or otherwise) owned and operated by Emlak Group),
            related data, and/or related services (collectively, "Services"), you agree to be bound
            by the following terms of use, as updated from time to time ("Terms of Use").
        </p>
        <p><b>Permissible Use.</b> Unless you are a real estate or lending professional acting in your professional 
        capacity, you agree to use the Services for your personal use, and your commercial use is limited to transactions
         done on your own behalf. The commercial use of real estate and lending professionals is limited to providing
         information to consumers via the Services or, where authorized, taking actions on behalf of a consumer client
         (e.g., post a home for sale). Without limitation, lending professionals and institutions are prohibited from using
         information provided by Emlak Group through the Services in making any loan-related decisions. The Services may be
         used only for transactions in residential real estate and may not be used for transactions in commercial real
         estate, which includes, without limitation, commercially zoned properties, timeshares, and vacation rentals.
         Subject to the restrictions set forth in the following paragraphs, you may copy information from the Services
         only as necessary for your personal use to view, save, print, fax and/or e-mail such information. You agree 
        otherwise not to reproduce, modify, distribute, display or otherwise provide access to, create derivative
         works from, decompile, disassemble or reverse engineer any portion of the Services. In addition, you agree 
        not to provide/post/authorize a link to any of the Services (including but not limited to your agent profile
         page) from a third party website that is not a real estate related website owned or operated by a real estate
         or lending professional or institution. Notwithstanding the foregoing, the aggregate level data provided on
         the Emlak Local-Info Page, may
         be used for non-personal uses, e.g., real estate market analysis. You may display and distribute derivative
         works of the Aggregate Data (e.g., within a graph), so long as Emlak Group is cited as a source.</p>
    </div>
</div>
